@*
    * CoreUI - Open Source Bootstrap Admin Template
    * @version v1.0.9
    * @link http://coreui.io
    * Copyright (c) 2018 creativeLabs Łukasz Holeczek
    * @license MIT
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">*@
    @*<meta name="author" content="Łukasz Holeczek">*@
    @*<meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">*@
    @*<link rel="shortcut icon" href="~/src/img/favicon.png">*@
    <title>Budgie</title>

    <!-- Icons -->
    <link href="~/dist/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/dist/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/dist/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="~/src/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->

</head>
<body class="app header-fixed">

    <header class="app-header navbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/src/img/avatar/avatar-1577909_640.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                </a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header text-center">
                            <strong>Settings</strong>
                        </div>
                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="dropdown-item"><i class="fa fa-user"></i> Profile</a>
                        <div class="divider"></div>
                        <button type="submit" class="dropdown-item"><i class="fa fa-lock"></i>Log out</button>
                    </div>
                </form>
            </li>
        </ul>
    </header>

    <div class="app-body">

        @RenderSection("breadcrumb", false)

        <!-- Main content -->
        <main class="main">

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.conainer-fluid -->
        </main>

    </div>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Budgie</a>
                </div>
                <div class="navbar-collapse collapse">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@

    <footer class="app-footer">
        <span><a href="/">Budgie</a> &copy; @DateTime.UtcNow.Year</span>
        <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="~/dist/vendors/js/jquery.min.js"></script>
    <script src="~/dist/vendors/js/popper.min.js"></script>
    <script src="~/dist/vendors/js/bootstrap.min.js"></script>
    <script src="~/dist/vendors/js/pace.min.js"></script>
    <script src="~/dist/vendors/js/Chart.min.js"></script>

    <!-- CoreUI main scripts -->

    <script src="~/src/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    <script src="~/src/js/views/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
