@{
    Layout = "_LayoutLogin";
}

<div class="col-md-6">
    <div class="card mx-4">
        <div class="card-body p-4">
            <h1>Account</h1>
            <p>Thank you for confirming your email.</p>
            <a asp-action="Login" asp-controller="Account">Click here to return to the login page</a>
        </div>
    </div>
</div>