@model ForgotPasswordViewModel

@{
    Layout = "_LayoutLogin";
}

<div class="col-md-6">
    <div class="card mx-4">
        <div class="card-body p-4">
            <h1>Account</h1>
            <p class="text-muted">Reset your password</p>
            <form asp-action="ForgotPassword" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-block btn-success">Reset</button>
            </form>
        </div>
    </div>
</div>