@model LoginWithRecoveryCodeViewModel

@{
    Layout = "_LayoutLogin";
}

<div class="col-md-6">
    <div class="card mx-4">
        <div class="card-body p-4">
            <h1>Recovery code</h1>
            <p>
                You have requested to login with a recovery code. This login will not be remembered until you provide
                an authenticator app code at login or disable 2FA and login again.
            </p>

            <a asp-action="Login" asp-controller="Account">Click here to return to the login page</a>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input asp-for="RecoveryCode" type="text" class="form-control" placeholder="Recovery code">
                    <span asp-validation-for="RecoveryCode" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>