@model LoginWith2faViewModel
@{
    Layout = "_LayoutLogin";
}

<div class="col-md-6">
    <div class="card mx-4">
        <div class="card-body p-4">
            <h1>Two-factor authentication</h1>
            <p class="text-muted">Your login is protected with an authenticator app. Enter your authenticator code below.</p>

            <p>
                Don't have access to your authenticator device? You can
                <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
            </p>

            <a asp-action="Login" asp-controller="Account">Click here to return to the login page</a>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input asp-for="TwoFactorCode" type="text" class="form-control" placeholder="Two-factor authentication code">
                </div>
                <div class="input-group mb-4">
                    <div class="checkbox">
                        <label asp-for="RememberMachine">
                            <input asp-for="RememberMachine" />
                            @Html.DisplayNameFor(m => m.RememberMachine)
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

}