@model LogoutViewModel

@{
    Layout = "_LayoutLogin";
}

<div class="col-md-6">
    <div class="card mx-4">
        <div class="card-body p-4">
            <h1>Account</h1>
            <p class="text-muted">Would you like to logout of IdentityServer?</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <button type="submit" class="btn btn-block btn-success">Yes</button>
            </form>

            <p>You do not have access to this resource.</p>
        </div>
    </div>
</div>