@{
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

@section breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Profile" asp-controller="Manage">Profile</a></li>
        <li class="breadcrumb-item"><a asp-action="TwoFactorAuthentication" asp-controller="Manage">Two-factor authentication</a></li>
        <li class="breadcrumb-item active">Disable Two-factor authentication</li>
    </ol>
}

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a asp-action="ResetAuthenticatorWarning" asp-controller="Manage">
            reset your
            authenticator keys.
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Disable two-factor authentication
            </div>
            <div class="card-body">
                <form asp-action="Disable2fa" asp-controller="Manage" method="post">
                    <button class="btn btn-danger" type="submit">Disable 2FA</button>
                </form>
            </div>
        </div>
    </div>
</div>