<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-12">
              <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="openModal(addCategoryModal, category)">
                Add a category
              </button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date added</th>
                <th>Type</th>
                <th>Colour</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>
                  <a data-toggle="modal" (click)="openModal(editCategoryModal, category)">{{category.name}}</a>
                </td>
                <td>{{category.date}}</td>
                <td>{{catgeoryTypes[category.type]}}</td>
                <td>#{{category.colour}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addAccountModal>
  <div class="modal-header">
    <h4 class="modal-title">Add an account</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="bsModalRef.content.name" type="text" class="form-control" id="name" placeholder="Account name">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Balance</label>
          <input [(ngModel)]="bsModalRef.content.balance" type="text" class="form-control" id="name" placeholder="Account balance">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="type">Type</label>
        <select [(ngModel)]="bsModalRef.content.type" class="form-control" id="type">
          <option *ngFor="let key of accountTypeKeys" [value]="key" [label]="accountTypes[key]"></option>
        </select>
      </div>
    </div>
    <!--/.row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="addAccount(bsModalRef.content)">Save changes</button>
  </div>
</ng-template>

<ng-template #addCategoryModal>
  <div class="modal-header">
    <h4 class="modal-title">Add a category</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="bsModalRef.content.name" type="text" class="form-control" id="name" placeholder="Category name">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="type">Type</label>

        <select [(ngModel)]="bsModalRef.content.type" class="form-control" id="type">
          <option *ngFor="let key of categoryTypeKeys" [value]="key" [label]="catgeoryTypes[key]"></option>
        </select>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="colour">Colour</label>
          <input [(ngModel)]="bsModalRef.content.colour" type="text" class="form-control" id="colour" placeholder="Category colour">
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="addCategory(bsModalRef.content)">Save changes</button>
  </div>
</ng-template>

<ng-template #editAccountModal>
  <div class="modal-header">
    <h4 class="modal-title">Edit an account</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="bsModalRef.content.name" type="text" class="form-control" id="name" placeholder="Account name">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Balance</label>
          <input [(ngModel)]="bsModalRef.content.balance" type="text" class="form-control" id="name" placeholder="Account balance">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="type">Type</label>
        <select [(ngModel)]="bsModalRef.content.type" class="form-control" id="type">
          <option *ngFor="let key of accountTypeKeys" [value]="key" [label]="accountTypes[key]"></option>
        </select>
      </div>
    </div>
    <!--/.row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="editAccount(bsModalRef.content)">Save changes</button>
  </div>
</ng-template>

<ng-template #editCategoryModal>
  <div class="modal-header">
    <h4 class="modal-title">Edit a category</h4>
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="bsModalRef.content.name" type="text" class="form-control" id="name" placeholder="Category name">
        </div>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="type">Type</label>
        <select [(ngModel)]="bsModalRef.content.type" class="form-control" id="type">
          <option *ngFor="let key of categoryTypeKeys" [value]="key" [label]="catgeoryTypes[key]"></option>
        </select>
      </div>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="colour">Colour</label>
          <input [(ngModel)]="bsModalRef.content.colour" type="text" class="form-control" id="colour" placeholder="Category colour">
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="editCategory(bsModalRef.content)">Save changes</button>
  </div>
</ng-template>