<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Accounts
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-12">
              <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="newAccountModal.show()">
                Add an account
              </button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date added</th>
                <th>Type</th>
                <th>Balance</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a data-toggle="modal" (click)="editAccountModal.show(1)">Nationwide</a>
                </td>
                <td>2012/01/01</td>
                <td>Current</td>
                <td>£1,300.00</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-12">
              <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="newCategoryModal.show()">
                Add a category
              </button>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date added</th>
                <th>Colour</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a data-toggle="modal" (click)="editCategoryModal.show(1)">Utilities</a>
                </td>
                <td>2012/01/01</td>
                <td>#efefef</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #newAccountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add an account</h4>
        <button type="button" class="close" (click)="newAccountModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Account name">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Balance</label>
              <input type="text" class="form-control" id="name" placeholder="Account balance">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="type">Type</label>
            <select class="form-control" id="type">
              <option value="1">Current</option>
              <option value="2">Savings</option>
              <option value="3">Credit</option>
            </select>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="newAccountModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #newCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a category</h4>
        <button type="button" class="close" (click)="newCategoryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Category name">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Colour</label>
              <input type="text" class="form-control" id="name" placeholder="Category colour">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="newCategoryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #editAccountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit an account</h4>
        <button type="button" class="close" (click)="editAccountModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Active</label>
              <label class="switch switch-text switch-primary">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Account name">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Balance</label>
              <input type="text" class="form-control" id="name" placeholder="Account balance">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="type">Type</label>
            <select class="form-control" id="type">
              <option value="1">Current</option>
              <option value="2">Savings</option>
              <option value="3">Credit</option>
            </select>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editAccountModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit a category</h4>
        <button type="button" class="close" (click)="editCategoryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Category name">
            </div>
          </div>
        </div>
        <!--/.row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Colour</label>
              <input type="text" class="form-control" id="name" placeholder="Category colour">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editCategoryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->