<router-outlet></router-outlet>
<app-header [sidebarToggler]="isAuthorized && 'lg'" [fixed]="true" [asideMenuToggler]="false">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item pr-3" placement="bottom right">
            <button *ngIf="isAuthorized" class="btn btn-outline-primary btn-sm" type="button" (click)="logout()">Logout</button>
            <button *ngIf="!isAuthorized" class="btn btn-outline-primary btn-sm" type="button" (click)="login()">Login</button>
        </li>
    </ul>
</app-header>

<app-footer>
    <span>
        <a href="#">Budgie</a> &copy; 2018</span>
    <span class="ml-auto">Powered by
        <a href="https://coreui.io/angular">CoreUI for Angular</a>
    </span>
</app-footer>
